<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>ayuda | encuentra tu clase</title>
</head>
<body>
    <div class="container-fluid m-0 p-0">

        <!-- CABECERA O HEADER DE LA PAGINA -->
        <header class="container-fluid navbar bg-success row m-0">


            <div class="container-fluid  col-12 col-md-8 col-lg-8 row">
                <div class="col-12 col-md-6 col-lg-6 ">
                    <img class="imagen-logo" src="../img/fet.png" alt="">
                </div>
                <div class=" col-12 col-md-6 col-lg-6 text-start">
                    <h1 class="text-light text-capitalize">centro de ayuda</h1>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-12 col-md-4 col-lg-4">
                <a href="./index.ejs" class="btn btn-light text-capitalize">inicio</a>
                <button class="btn btn-light text-capitalize" type="button">ayuda</button>
            </div>
        </header>
    </div>
</body>
</html>